
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  max-width: 400px;
  width: 100%;
}

.textbox {
  align-items: center;
  margin-bottom: 10px;
}

.textbox .prefix {
  margin-right: 5px;
}
.phone{
    width: 130px
}
